.spacer {
    width: 450px;
    height: 80px;
    background-color: transparent;
    border: 12px solid transparent;
    margin: 12px;
    padding: 12px;
}

.container {
        width: 1220px;
        height: 1200px;
        margin: 1px;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: bold;
        color: darkred;
        z-index: -1;
        background-image: url(./media/originolaCU.jpg);
}

h1 {
    width: 210px;
    margin: 2px;
    padding: 2px;
    background-color: gold;
    border: 12px double black;
}

h2 {
    margin: 25px 5px 5px 125px;
    padding: 10px;
    width: 157px;
    background-color: gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 12px double black;
}

.mannequin {
    width: 450px;
    height: 445px;
    margin: 12px;
    padding: 12px;
    border: 10px double gold;
    background-color: black;
    z-index: 2;
}

header {
    width: 1000px;
    margin: 15px;
    padding: 5px;
    border: 14px double gold;
    font-variant: small-caps;
    position: fixed;
    background-image: url(./media/originolaXCU.jpeg);
    z-index: 3;
}

h4 {
    margin: 10px;
    padding: 10px;
    color: gold;
    background-color: black;
    border: 12px double gold;
    position: relative;
    width: 450px;
    height: 250px;
    float: left;
    z-index: 2;
}

img {
    position: relative;
}

.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}

h3 {
    margin: 4px;
    padding: 4px;
    color: gold;
    background-color: black;
    border: 3px double gold;
    position: relative;
    width: 145px;
    height: 36px;
    display: inline-block;
    z-index: 2;
}

input {
    margin: 1px;
    padding: 1px;
    background-color: gold;
    border: 1px double black;
    position: relative;
    width: 145px;
    height: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: outline;
    font-size: x-large;
    display: inline-block;
    z-index: 2;
    word-wrap: normal;
}

textarea {
    margin: 1px;
    padding: 1px;
    background-color: black;
    border: 8px double gold;
    color: whitesmoke;
    font-size: xx-large;
    position: relative;
    width: 450px;
    height: 245px;
    display: inline-block;
    z-index: 2;
    word-wrap: normal;
}

.button {
    margin: 2px;
    padding: 2px;
    width: 88px;
    height: 58px;
    background-color: darkred;
    border: 8px double gold;
    color: whitesmoke;
    font-variant: small-caps;
}